<div class="o-card o-card--landscape o-card--image-" data-o-component="o-card">

	<div class="o-card__content">
		<h2 class="o-card__heading"><a href="{{location.uri}}">{{title.title}}</a></h2>
		<p class="o-card__standfirst">{{summary.excerpt}}&hellip;</p>
    <p class="o-card__tag">{{editorial.byline}}</p>
		<time data-o-component="o-date" class="o-date o-card__timestamp" datetime="{{lifecycle.lastPublishDateTime}}">{{lifecycle.lastPublishDateTime}}</time>
	</div>

</div>
