<div class="headlines-list o-grid-container">
  <div class="o-grid-row text-center mb-4">
    <div data-o-grid-colspan="12">
      {{#if searchTerm}}
        <h2 class="o-typography-heading2 nw-search-summary">Showing {{numberOfResults}} results for "{{searchTerm}}"&hellip;</h2>
      {{else}}
        <h2 class="o-typography-heading2 nw-search-summary">Showing the {{numberOfResults}} latest articles from the FT&hellip;</h2>
      {{/if}}
    </div>
    <div class="o-typography-body nw-page-count" data-o-grid-colspan="12">
      <span>Page {{currentPage}} of {{pageCount}}</span>
    </div>
  </div>
  <div class="o-grid-row mb-4">
    {{#each headlines}}
      {{> headline-card }}
    {{/each}}
  </div>
  <div class="o-buttons__pagination text-center mb-4">
    <div class="pagination-container mb-2">
      {{#if onFirstPage}}
        <a class="o-buttons o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only" disabled><span class="o-buttons-icon__label">Fewer results</span></a>
      {{else}}
        <a href="/{{search searchTerm}}page={{math currentPage "-" 1}}" class="o-buttons o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only"><span class="o-buttons-icon__label">Fewer results</span></a>
      {{/if}}
      {{#times pageCount}}
        {{#ifeq this ../currentPage}}
          <a class="o-buttons" aria-selected="true">{{../this}}</a>
        {{else}}
          <a href="/{{search ../../searchTerm}}page={{../this}}"  class="o-buttons">{{../this}}</a>
        {{/ifeq}}
      {{/times}}
      {{#if onLastPage}}
        <a class="o-buttons o-buttons-icon o-buttons-icon--arrow-right o-buttons-icon--icon-only" disabled><span class="o-buttons-icon__label">More results</span></a>
      {{else}}
        <a href="/{{search searchTerm}}page={{math currentPage "+" 1}}" class="o-buttons o-buttons-icon o-buttons-icon--arrow-right o-buttons-icon--icon-only"><span class="o-buttons-icon__label">More results</span></a>
      {{/if}}
    </div>
  </div>
</div>
